.box {
    // width: 194px;
    // height: 42px;
    // background-color: #303033;
    // padding: 10px;
    color: #fff;
    margin-left: 50px;
    .apipost-collapse {
        border:  none;
        background-color: #303033;
        width: 220px;
        // height: 42px;
        .collapse-body {
            border: none !important;
            background-color: #27272B;
            width: 100%;
            padding: 16px !important;


            .common-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                span {
                    white-space: nowrap;
                }

                .apipost-input-inner-wrapper {
                    // width: 124px;
                    height: 24px;
                    margin-left: 4px;
                }
            }

            .api-weight {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 8px;
                border-bottom: 1px solid #39393D;

                span {
                    white-space: nowrap;
                }

                .apipost-input-inner-wrapper {
                    // width: 124px;
                    height: 24px;
                    margin-left: 4px;
                }
            }

            .apipost-select {
                border: none;
                width: 100%;
                margin-top: 10px;
                background-color: #27272B;
            }
        }
    }

    svg {
        width: 16px;
        height: 16px;
        fill: #fff !important;
    }

    .box-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        &-left {
            display: flex;
            align-items: center;

            span {
                margin-left: 4px;
            }
        }

        &-right {
            svg {
                margin-left: 15px;
                cursor: pointer;
            }
        }
    }

                

}

.diybox {
    display: flex;

    .add {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #409eff;
        color: #fff;
        font-size: 12px;
    }

    .input {
        flex: 1;
        min-width: 0;
        outline: none;
        border: 1px solid #dcdfe6;
    }
}