.report-executor {
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 32px;
    .executor-info {
        display: flex;
        align-items: center;
        margin-left: 28px;
        p {
            margin-left: 4px;
        }
    }
    .create-time, .last-time, .run-time {
        margin-left: 16px;
    }
    .close-debug {
        width: 175px;
        height: 25px;
        background-color: #3A86FF;
        border-radius: 3px;
        color: #fff;
        margin-left: 16px;

        svg {
            fill: #fff;
            margin-left: 7px;
        }
    }
}

.drop-debug {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    
    p {
        margin: 15px 0;
    }
    p:hover {
        color: #fff;
        cursor: pointer;
    }
}