.contrast-content {
    padding-top: 15px;

    .table-data {
        margin-top: 20px;

        .title {
            margin-bottom: 4px;
        }
    }

    .color1 {
        .apipost-table-th {
            background-color: #A84B1F;
        }
    }
    
    .color2 {
        .apipost-table-th {
            background-color: #6155BC;
        }
    }

    .color3 {
        .apipost-table-th {
            background-color: #32AF3F;
        }
    }

    .color4 {
        .apipost-table-th {
            background-color: #3B7BC6;
        }
    }

    .table-data {
        .apipost-table-th {
            .apipost-table-cell {
                color: #fff;
            }
        }
    }

    .echart-list {
        display: flex;
        flex-direction: column;

        .title {
            display: flex;

            
        }
    }
}