.scene-header {
    display: flex;
    justify-content: space-between;
    height: 57px;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    color: #fff;
    border-bottom: 1px solid #39393D;
    &-right {
        display: flex;
        align-items: center;
        svg {
            width: 16px;
            height: 16px;
            fill: #fff;
            margin-right: 6px;
        }
        .config {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .saveBtn {
            width: 60px;
            height: 25px;
            padding: 8px;
            background-color: #3A86FF;
            color: #fff;
            margin-left: 16px;
        }
        .stopBtn, .runBtn {
            width: 84px;
            height: 25px;
            padding: 8px;
            background-color: #3CC071;
            color: #fff;
            margin-left: 8px;
        }
        .stopBtn {
            background-color: #FF4C4C;
            svg {
                width: 10px;
                height: 10px;
            }
        }
    }
}