.report-content {
    min-height: 783px;
    // height: 1500px;
    // overflow: auto !important;
    border: 1px solid var(--bg-4);
    border-radius: 5px;
    margin-top: 8px;
    padding: 8px;
    color: var(--font-1);
    margin-bottom: 50px;

    .apipost-table-container {
        margin-top: 32px;
    }

    .apipost-table-th {
        background-color: var(--bg-3);
    }

    .apipost-table-td {
        color: var(--font-1);
        height: 30px;
    }

    &-top {
        .top-type {
            span:last-child {
                // margin-left: 16px;
            }
        }

        .top-mode {
            margin-top: 16px;
        }
    }

    .echarts-list {
        display: flex;
        margin-top: 32px;
        flex-wrap: wrap;

        .echarts {
            // flex: 1;
            width: 23%;
            margin: 0 12px;
            margin-bottom: 32px;
        }
    }

    .report-task-config {
        display: flex;
        flex-direction: column;
        align-items: center;

        .update-config-btn {
            margin: 0 auto;
            width: 110px;
            height: 32px;
            border: 1px solid var(--theme-color);
            border-radius: 6px;
            min-width: 110px;
            color: var(--theme-color);
            margin-top: 12px;

            svg {
                fill: var(--theme-color);
                margin-left: 4px;
            }
        }
    }

    .report-detail-config {
        margin-top: 32px;

        .apipost-table-container {
            margin-top: 6px;
        }

        .table-explain {
            display: flex;
            align-items: center;

            .circle {
                width: 6px;
                height: 6px;
                background-color: var(--theme-color);
                margin-right: 4px;
                border-radius: 50%;
            }
        }
    }
}