.report-content {
    min-height: 783px;
    // height: 1500px;
    // overflow: auto !important;
    border: 1px solid var(--bg-4);
    border-radius: 5px;
    margin-top: 8px;
    padding: 8px;
    color: var(--font-1);
    margin-bottom: 50px;

    .apipost-table-container {
        margin-top: 32px;
    }

    .apipost-table-th {
        background-color: var(--bg-3);
    }

    .apipost-table-td {
        color: var(--font-1);
        height: 30px;
    }

    &-top {
        .top-type {
            span:last-child {
                // margin-left: 16px;
            }
        }

        .top-mode {
            margin-top: 16px;
        }
    }

    .echarts-list {
        display: flex;
        margin-top: 32px;
        .echarts {
            flex: 1;
            margin: 0 20px;
        }
    }
}