.report-content {
    min-height: 783px;
    // height: 1500px;
    // overflow: auto !important;
    border: 1px solid #39393D;
    border-radius: 5px;
    margin-top: 8px;
    padding: 8px;
    color: #fff;
    margin-bottom: 50px;

    .apipost-table-container {
        margin-top: 32px;
    }

    .apipost-table-th {
        background-color: #27272B;
    }

    .apipost-table-td {
        color: #fff;
        height: 30px;
    }

    &-top {
        .top-type {
            span:last-child {
                margin-left: 16px;
            }
        }

        .top-mode {
            margin-top: 16px;
        }
    }

    .echarts-list {
        display: flex;
        margin-top: 32px;
        .echarts {
            flex: 1;
        }
    }
}