.report-header {
    display: flex;
    justify-content: space-between;
    
    svg {
        width: 16px;
        height: 16px;
        fill: #fff;
    }
    &-left {
        .textBox {
            width: 216px;
            height: 30px;
            background-color: #1A1A1D;
            border: 1px solid #39393D;
            border-radius: 5px;

            svg {
                margin-right: 6px;
            }
        }
    }
    &-right {
        .createBtn {
            width: 84px;
            height: 25px;
            background-color: #3A86FF;
            border-radius: 5px;
            padding: 12px 8px;
            color: #fff;
            svg {
                margin-right: 4px;
            }
        }
    }
}