// .custom {
//     stroke: #555;
//     cursor: pointer;
// }

// .custom:hover {
//     stroke: var(--font-1);
// }

.react-flow__edge-path {
    stroke: #555;
    fill: none;
    // stroke: none;
    stroke-width: 2px;
    cursor: pointer;
}

.react-flow__edge-path:hover {
    stroke: var(--font-1);
    stroke-width: 2px;
}

.click {
    stroke: var(--log-blue) !important;
}

.scene-right-menu {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #f00;
    top: 0;
    left: 0;
    z-index: 9999;
}