// .custom {
//     stroke: #555;
//     cursor: pointer;
// }

// .custom:hover {
//     stroke: #fff;
// }

.react-flow__edge-path {
    stroke: #555;
    fill: none;
    // stroke: none;
    stroke-width: 2px;
    cursor: pointer;
}

.react-flow__edge-path:hover {
    stroke: #fff;
    stroke-width: 2px;
}

.click {
    stroke: #3A86FF !important;
}