.apipost-table-th {
    background-color: var(--bg-3);
}

.apipost-table-td {
    color: var(--font-1);
    // height: 30px;
}

.preview-modal {
    .apipost-modal-container {
        max-height: 665px;
    }
    .apipost-table-cell {
        font-size: 14px;
        color: var(--font-1);
    }
    .apipost-table-td {
        height: 46px !important;   
    }
    .apipost-table-th {
        background-color: var(--bg-1) !important;
        .apipost-table-td {
            text-align: left !important;
            .apipost-table-cell {
                color: var(--font-2);
            }
        }
    }
    .apipost-modal-close {
        margin-right: 14px;
    }
}