.report {
    padding: 12px 8px 8px 8px;

    &-table {
        // width: 95%;
        // margin: 0 auto;
        margin-top: 12px;

        .apipost-table-th {
            background-color: #27272B;
        }

        .apipost-table-td {
            color: #fff;
            height: 30px;
        }

        .handle-content {
            display: flex;

            .run-btn, .stop-btn {
                width: 60px;
                height: 18px;
                border-radius: 3px;
                padding: 10px 8px;
                color: #fff;
                margin-right: 25px;
            }

            .run-btn {
                background: #3CC071;
            }

            .stop-btn {
                background: #FF4C4C;
            }

            svg {
                width: 16px;
                height: 16px;
                fill: #fff;
                flex: 1;
                cursor: pointer;
            }
        }
    }
}