.plan {
    padding: 12px 8px 8px 8px;

    &-table {
        // width: 95%;
        // margin: 0 auto;
        margin-top: 12px;
        // min-height: 500px;
        margin-bottom: 20px;
        .apipost-table {
            position: relative;

            .empty {
                position: absolute;
                width: 100%;
                height: 500px;
                text-align: center;
                line-height: 500px;
                color: #fff;
            }
        }


        .apipost-table-th {
            background-color: #27272B;
        }

        .apipost-table-td {
            color: #fff;
            height: 30px;

            .apipost-table-cell {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        }

        .handle-content {
            display: flex;

            .run-btn,
            .stop-btn {
                min-width: 60px;
                height: 18px;
                border-radius: 3px;
                padding: 10px 8px;
                color: #fff;
                margin-right: 25px;
            }

            .run-btn {
                background: #3CC071;
                svg {
                    width: 13px;
                    height: 15px;
                    fill: #fff;
                    margin-right: 7px;
                }
            }

            .stop-btn {
                background: #FF4C4C;
                svg {
                    width: 10px;
                    height: 10px;
                    fill: #fff;
                    margin-right: 7px;
                }
            }

            .handle-icons {
                width: 100%;
                svg {
                    width: 16px;
                    height: 16px;
                    fill: #fff;
                    // flex: 1;
                    margin: 0 10px;
                    cursor: pointer;
                }
            }
        }
    }
}