.index-page {
    display: flex;
    flex-direction: column;
    // padding-top: 8px;
    background-color: #1a1a1a;
    .index-top {
        display: flex;
        background-color: #222226;
        border-radius: 5px;
        height: 245px;
        margin: 8px;
        margin-bottom: 0;
    }
    .index-bottom {
        margin: 10px 8px 0 8px;
        // background-color: ;
    }
}