.running-plan {
    width: 36%;
    height: 229px;
    border: 1px solid #39393D;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
    
    .running-top {
        display: flex;
        justify-content: space-between;
        color: #fff;
        &-right {
            display: flex;
            cursor: pointer;
            svg {
                fill: #fff;
                width: 12px;
                height: 12px;
                margin-left: 9px;
            }
        }
    }
    .running-bottom {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        .empty {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }

        .plan-detail {
            display: flex;
            margin-top: 25px;
            width: 100%;
            justify-content: center;
            .progress {
                width: 75%;
                height: 11px;
                background-color: #3cc071;
                border-radius: 17px;
                margin: 0 5px;
                position: relative;
                overflow: hidden;

                .item {
                    position: absolute;
                    width: 15px;
                    height: 80px;
                    background-color: #000;
                    opacity: 0.1;
                    transform: rotate(30deg);
                    // left: 5px;
                    top: -38px;
                    // z-index: 10;
                    // animation-name: ;
                    // animation-delay: ;
                    animation-name: runProgress;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    // animation: runProgress 5s linear infinite;
                }
            }
        }
    }

}

@keyframes runProgress {
    100% {
        left: 100%;
    }
}