.user-page {
    width: 100vw;
    height: 100vh;
    background-color: var(--font-1);
    position: relative;
    color: #000;

    .return-btn {
        width: 60px;
        height: 36px;
        background: #F2F2F2;
        padding: 8px 8px 8px 4px;
        color: #000;
        margin-top: 80px;
        margin-left: 80px;

        svg {
            fill: #000;
            margin-right: 4px;
        }
    }

    &-container {

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .handle-name {
                display: flex;
                margin-top: 10px;

                .name {
                    font-weight: 600;
                    font-size: 16px;
                }

                svg {
                    fill: #000;
                    width: 16px;
                    height: 16px;
                }
            }

            .email {
                font-weight: 400;
                font-size: 14px;
                color: #666;
                margin-top: 15px;
            }
        }

        &-list {
            margin-top: 64px;

            &-item {
                display: flex;
                justify-content: space-between;
                width: 718px;
                padding: 18px;
                border-bottom: 1px solid #f2f2f2;

                .label {
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 6px;
                }

                .common-item {
                    display: flex;
                    flex-direction: column;
                }

                .apipost-btn {
                    width: 90px;
                    height: 41px;
                    border: 1px solid #f2f2f2;
                }

                .apipost-btn:hover {
                    background-color: var(--font-1);
                    color: #000;
                }

                .email-left {
                    .email {
                        margin-bottom: 6px;
                        .change-num {
                            color: #f00;
                            margin-left: 12px;
                        }
                    }
                }

                .wx-left {
                    .wx {
                        margin-bottom: 6px;
                        svg {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            width: 700px;
            justify-content: flex-start;
            margin-top: 55px;

            .apipost-btn {
                width: 110px;
                height: 41px;
                padding: 12px;
                border: 1px solid var(--delete-red);
                color: var(--delete-red);
            }

            .apipost-btn:hover {
                background-color: var(--font-1);
            }

            p {
                cursor: pointer;
                margin-left: 24px;
                color: #666;
            }
        }
    }
}