.machine {
    display: flex;
    flex-direction: column;
    padding: 10px 16px 0 8px;

    .title {
        color: var(--font-1);
        font-size: 16px;
        font-weight: 600;
    }

    .search {
        margin-top: 20px;
        width: 216px;
        height: 30px;

        svg {
            width: 16px;
            height: 16px;
            margin-right: 6px;
        }
    }

    .table {
        margin-top: 10px;

        .apipost-table-th {
            background-color: var(--bg-3);
        }

        .apipost-table-td {
            color: var(--font-1);
            height: 30px;
            text-align: left;
        }

        .start-btn, .stop-btn {
            min-width: 74px;
            height: 22px;
            border-radius: 2px; 
            color: var(--common-white);
        }

        .start-btn {
            background-color: var(--run-green);          
        }

        .stop-btn {
            background-color: var(--theme-color);
        }
    }

    .paging {
        margin-top: 20px;
    }
}